<nav>
    <div class="site-title">
      <a href="/"><h1>Node Crash Course</h1></a>
      <p>A basic site built with Express.js</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">New Blog</a></li>
    </ul>
  </nav>
