<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
        sodales libero. Ut sed odio sit amet elit venenatis congue. Praesent
        pellentesque nisl vel scelerisque sagittis. Vestibulum consequat pretium
        turpis vel auctor. Fusce scelerisque, lectus ut blandit ornare, diam
        libero sollicitudin sem, id fringilla metus libero vel metus. In cursus
        elit vitae risus bibendum, sit amet ultricies orci sodales. Nam eget
        ligula ac nisi suscipit feugiat id a nunc. Aliquam id ornare augue
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
